:root {
}

body {
  color: #757575;
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.page-header {
}

/* ================== HEADER ================ */

.navigation {
}

.header-logo {
  color: #000000;
  font-family: 'Raleway' sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.text-header-logo-blue {
  color: #2196f3;
}

.text-header-logo-black {
  color: #000000;
}

.menu {
}

.menu-item {
}

.menu-link {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.contact-phone-number-header {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-phone-number-header:hover,
.contact-phone-number-header:focus {
  color: #2196f3;
}

.contact-email-header {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-email-header:hover,
.contact-email-header:focus {
  color: #2196f3;
}
/* ================== /HEADER ================ */

/* ================== MAIN ===================== */

.title-section {
  background: #2f303a;
}

.title {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-button {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.main-title {
}

.main-title-list {
}

.main-title-list-items {
}

.subtitle {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subtitle-description {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about {
}

.about-title {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-section {
  background: #f5f4fa;
}

.our-team-title {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list {
}

.our-team-list-item {
}

.our-team-member {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-member-position {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ================== /MAIN ===================== */

/* ========== PORTFOLIO BUTTONS ========== */

.filter-button {
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* ========== /PORTFOLIO BUTTONS ========== */

/*=============== FOOTER =============== */

.page-footer {
  background: #2f303a;
}

.footer-logo {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.text-footer-logo-blue {
  color: #2196f3;
}

.text-footer-logo-white {
  color: #ffffff;
}
.location {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-email-footer,
.contact-phone-number-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-email-footer:hover,
.contact-email-footer:focus {
  color: #2196f3;
}

.contact-phone-number-footer:hover,
.contact-phone-number-footer:focus {
  color: #2196f3;
}

/*=============== /FOOTER =============== */
