:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway' sans-serif;
  --accent-color: #2196f3;
  --text-logo-color: #000000;
  --titles-color: #212121;
  --text-description-color: #757575;
  --text-white-color: #ffffff;
  --background-button-color: #188ce8;
  --background-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--titles-color);
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.page-header {
}

/* ================== HEADER ================ */

.navigation {
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.text-logo-header-black {
  color: var(--text-logo-color);
}

.menu {
}

.menu-item {
}

.menu-link {
  color: var(--titles-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-phone-number-header {
  color: var(--text-description-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-phone-number-header:hover,
.contact-phone-number-header:focus {
  color: var(--accent-color);
}

.contact-email-header {
  color: var(--text-description-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-email-header:hover,
.contact-email-header:focus {
  color: var(--accent-color);
}
/* ================== /HEADER ================ */

/* ================== MAIN ===================== */

.title-section {
  background-color: var(--background-color);
}

.title {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-button {
  color: var(--text-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--background-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-title {
}

.main-title-list {
}

.main-title-list-items {
}

.subtitle {
  color: var(--titles-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subtitle-description {
  color: var(--text-description-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about {
}

.about-title {
  color: var(--titles-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-section {
  background-color: #f5f4fa;
}

.our-team-title {
  color: var(--titles-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list {
}

.our-team-list-item {
}

.our-team-member {
  color: var(--titles-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-member-position {
  color: var(--text-description-color);
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ================== /MAIN ===================== */

/* ========== PORTFOLIO BUTTONS ========== */

.filter-button-list {
}

.filter-button {
  color: var(--titles-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--text-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ========== /PORTFOLIO BUTTONS ========== */

/* ========== PORTFOLIO WORKS ========== */
.our-works-list {
}

.our-works-list-item {
}

.our-works-list-title {
  color: var(--titles-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.our-works-list-description {
  color: var(--text-description-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* ========== /PORTFOLIO WORKS ========== */

/*=============== FOOTER =============== */

.page-footer {
  background-color: var(--background-color);
}

.text-logo-footer-white {
  color: var(--text-white-color);
}
.location {
  color: var(--text-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.location:hover,
.location:focus {
  color: var(--accent-color);
}

.contact-email-footer,
.contact-phone-number-footer {
  color: var(--contacts-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-email-footer:hover,
.contact-email-footer:focus {
  color: var(--accent-color);
}

.contact-phone-number-footer:hover,
.contact-phone-number-footer:focus {
  color: var(--accent-color);
}

/*=============== /FOOTER =============== */
